<nav role="navigation" aria-label="Pagination" class="flex">
  <ul class="flex">
    <% @paged_episodes.each do |episode| %>
      <% if episode == @episode %>
        <li aria-current="true">
          <strong><span class="invisible">Current episode </span><%= episode.id %></strong>
        </li>
      <% else %>
        <li>
          <a href="<%= episode_path(episode) %>" aria-label="Go to episode <%= episode.id %>"><span class="invisible">Go to episode </span><%= episode.id %></a>
        </li>
      <% end %>
    <% end %>
  </ul>
</nav>
