<div>
  <%= render(HostNameComponent.new(host: @host)) %>
  <ul>
    <% @host.episodes.each do |episode| %>
      <li>
        <%= render(EpisodeLinkComponent.new(episode: episode)) %>
      </li>
    <% end %>
  </ul>
</div>
