<div>
  <%= @recommendation.host.name %> recommended <%= @recommendation.movie.title %> 
  in 
  <%= link_to "episode #{@recommendation.episode.id}", @recommendation.episode %>
</div>
<div>
  <%= render(MovieComponent.new(movie: @recommendation.movie)) %>
</div>
