<%= @movie.title %>

<% if @movie.episodes.any? %>
  <h2>Watched For</h2>
  <%= render(EpisodeTitleComponent.with_collection(@movie.episodes)) %>
<% end %>

<% if @movie.recommendations.any? %>
  <h2>Recommended</h2>
  <%= render(RecommendationComponent.with_collection(@movie.recommendations)) %>
<% end %>
