<h2 class="text-4xl font-bold text-lime-700 py-3">
  <%= @host.name %>
</h2>
<ul>
  <% @host.episodes.each do |episode| %>
    <li>
      <%= render(EpisodeLinkComponent.new(episode: episode)) %>
    </li>
  <% end %>
</ul>
