<h2 class="text-4xl font-bold text-lime-700 py-3">
  <%= @host.name %>
</h2>
<ul>
  <% @host.episodes.each do |episode| %>
    <li>
      <span class="font-bold">
        <%= render(EpisodeLinkComponent.new(episode: episode)) %>
      </span>
      <ul>
        <% episode.recommendations.each do |rec| %>
          <% next unless rec.host == @host %>
          <li class="pl-5">
            <%= link_to(rec.movie.title, rec.movie) %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
